:root {
  --body-bg-color: rgb(221, 238, 236);
  --terminal-bg-color: rgba(0, 0, 0, 0.65);
  --main-text-color: rgb(255, 255, 255, 0.95);
}

body {
  background-color: var(--body-bg-color);
}

*,
html {
  font-family: "custom", monospace;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "custom";
  src: url("font/IBM_Plex_Mono/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "custom";
  src: url("font/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "custom";
  src: url("font/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "custom";
  src: url("font/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.cursor {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  border: 0px;
  margin-bottom: 20px;
  text-align: right;
  width: 100%;
}

input:focus {
  outline: none;
}

.terminal-output-element {
  animation-name: fade-in;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  padding-top: 5px;
  padding-bottom: 5px;
}

.terminal {
  background-color: var(--terminal-bg-color);
  border-left: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  overflow-wrap: break-word;
  padding-left: 1ch;
  padding-right: 1ch;
  text-align: left;
  width: 40ch;
}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.loader {
  width: fit-content;
  background: linear-gradient(90deg, var(--main-text-color) 50%, #0000 0)
    right/200% 100%;
  animation: l21 3s infinite ease-in;
}

.loader::before {
  content: "Waiting response.";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, black 50%, var(--main-text-color) 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  100% {
    background-position: left;
  }
}
